body {
  background-color: #c9ada7;
  margin: 0px 50px;

}

div.chart-container {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

pre {
  overflow: auto;
  border-style: dotted;
  scrollbar-width: thin;
  padding: 10px;
  border-radius: 10px;
}
